<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ApiSettings>
		<BaseAddress>https://api.example.com/</BaseAddress>
		<Username>dev_user</Username>
		<ApiKey>secret_key</ApiKey>
	</ApiSettings>
	<Endpoints>
		<FirstEndpoint>api/v1/users</FirstEndpoint>
		<SecondEndpoint>api/v1/products</SecondEndpoint>
	</Endpoints>
</configuration>