<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ApiSettings>
		<BaseAddress>https://api.example.com/</BaseAddress>
		<Username>dev_user</Username>
		<ApiKey>secret_key</ApiKey>
	</ApiSettings>
	<Endpoints>
		<SessionDetails>api/v1</SessionDetails>
		<DeviceUsage>api/v1</DeviceUsage>
		<DeviceLocation>api/v1</DeviceLocation>
	</Endpoints>
	<Database>
		<ConnString>YourConnectionStringHere</ConnString>
	</Database>
</configuration>